// **********************************

$tablet-width: 768px
$desktop-width: 992px

// **********************************

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap')

@mixin tablet
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
        @content

@mixin desktop
    @media (min-width: #{$desktop-width})
        @content

header
    display: flex
    font-size: 12pt
    flex-direction: row
    font-family: 'Ubuntu', sans-serif
    padding: 10px 0 10px 0

    @include tablet
        font-size: 16pt
        flex-direction: row

    @include desktop
        font-size: 20pt
        position: fixed
        top: 20%
        flex-direction: column

    a
        display: flex
        margin-left: 30px
        text-decoration: none
        color: #eaeaea

    a:hover
        color: #0092e0
        transition: 0.3s ease



