<div id="content">
    <div class="row">
        <article>
            <h1>Cześć!</h1>
            <p>Co by tu napisać</p>
            <p>Jestem programistą. Obecnie Junior Front-end.</p>
            <p>Technologie, które znam</p>
            <p>front:</p>
            <i class="devicon-html5-plain-wordmark colored"></i>
            <i class="devicon-css3-plain-wordmark colored"></i>
            <i class="devicon-jquery-plain-wordmark colored"></i>
            <i class="devicon-sass-original colored"></i>

            <p>frameworki:</p>
            <i class="devicon-angularjs-plain colored"></i>
            <i class="devicon-bootstrap-plain-wordmark colored"></i>
            <i class="devicon-codeigniter-plain-wordmark colored"></i>
            <i class="devicon-nodejs-plain colored"></i>

            <p>narzędzia:</p>

            <i class="devicon-php-plain colored"></i>
            <i class="devicon-docker-plain-wordmark colored"></i>
            <i class="devicon-git-plain colored"></i>
            <i class="devicon-mysql-plain colored"></i>
            <i class="devicon-typescript-plain colored"></i>


            <p>znajomość systemów:</p>
            <i class="devicon-linux-plain colored"></i>
            <i class="devicon-windows8-original colored"></i>


            <p>edytory:</p>
            <i class="devicon-visualstudio-plain colored"></i>
            <i class="devicon-intellij-plain colored"></i>

        </article>
    </div>
</div>
