<div id="content">
    <div class="row">
        <article>
            <div class="row">
                <div class="col-5 col-sm-4 col-md-4 col-lg-5">
                    <img src="assets/img/face.jpg" alt="smile.jpg">
                </div>
                <div class="col-7 col-sm-8 col-md-7 col-lg-7">
                    <p>Jestem programistą. Byłem projektantem sieci Orange Polska, a nawet kierownikiem biura projektowego.</p>
                    <p>Obecnie pracuję jako młodszy programista w dużej firmie.</p>
                    <p>Większość projektów trzymam na <a href="https://github.com/mademanix/">githubie</a>. Motyw przewodni:
                        Angular 2+ i ogólnie inne twory, które obecnie używa się do tworzenia front-endu. Lubię prostotę i minimalizm. Tyle.</p>
                    <p>Aaa, i zapraszam do <a routerLink="/posts">bloga</a></p>
                </div>
            </div>
            <div class="row technologies">
                <div class="col-12">
                    <h5>Technologie, których używam</h5>
                    <div class="tech-paragraph">
                        <h6>langs</h6>
                        <a href="https://developer.mozilla.org/pl/docs/HTML/HTML5"><i class="devicon-html5-plain-wordmark"></i></a>
                        <a href="https://developer.mozilla.org/pl/docs/Web/CSS"><i class="devicon-css3-plain-wordmark"></i></a>
                        <a href="https://www.php.net/"><i class="devicon-php-plain"></i></a>
                    </div>
                    <div class="tech-paragraph">
                        <h6>über langs</h6>
                        <a href="https://www.typescriptlang.org/"><i class="devicon-typescript-plain"></i></a>
                        <a href="https://sass-lang.com/"><i class="devicon-sass-original"></i></a>
                    </div>
                    <div class="tech-paragraph">
                        <h6>frameworks</h6>
                        <!-- OMG HE USED ANGULARJS ICON TO SHOW HE KNOW ANGULAR 2+ XDDDD HAHAHA -->
                        <a href="https://angular.io/"><i class="devicon-angularjs-plain"></i></a>
                        <a href="https://jquery.com/"><i class="devicon-jquery-plain-wordmark"></i></a>
                        <a href="https://getbootstrap.com/"><i class="devicon-bootstrap-plain-wordmark"></i></a>
                        <a href="https://codeigniter.com/"><i class="devicon-codeigniter-plain-wordmark"></i></a>
                    </div>
                    <div class="tech-paragraph">
                        <h6>tools</h6>
                        <a href="https://www.docker.com/"><i class="devicon-docker-plain-wordmark"></i></a>
                        <a href="https://git-scm.com/"><i class="devicon-git-plain"></i></a>
                        <a href="https://www.mysql.com/"><i class="devicon-mysql-plain"></i></a>
                        <a href="https://nodejs.org/en/"><i class="devicon-nodejs-plain"></i></a>
                    </div>
                    <div class="tech-paragraph">
                        <h6>systems</h6>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="devicon-linux-plain"></i></a>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="devicon-windows8-original"></i></a>
                    </div>
                    <div class="tech-paragraph">
                        <h6>editors</h6>
                        <a href="https://code.visualstudio.com/"><i class="devicon-visualstudio-plain"></i></a>
                        <a href="https://www.jetbrains.com/idea/"><i class="devicon-intellij-plain"></i></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
