<div class="splash">
    <!-- <div class="row justify-content-center">
        <div id="title_text">
            <p>dupa</p>
        </div>
    </div> -->
    <div class="justify-content-center">
        <img id="title_image" src="assets/img/mishmash.png" alt="mishmash.png">
    </div>

    <div class="arrow-down">
        <button [ngx-scroll-to]="'#content'" class="btn btn-circle page-scroll hidden-sm-down page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </button>
    </div>
</div>


